#lista {
 padding-bottom: 40px;
}

#lista .container table {
  margin: 0 auto;
}


#lista .container .overflow{
  overflow-x: auto;
}

#lista td,
#lista th {
  border: 2px solid #ddd;
  padding: 8px;
}

#lista tr:nth-child(even) {
  background-color: #f2f2f2;
}

#lista tr:hover {
  background-color: #c0c0c0;
}

#lista th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000;
  color: white;
}

.color-red {
  background: red;
}

.color-green {
  background: green;
}